<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/phpunit_bootstrap.php"
         cacheResultFile=".phpunit.result.cache"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
         colors="true">
    <testsuites>
        <testsuite name="Database">
            <directory>src/Ksfraser/Database/tests</directory>
        </testsuite>
        <testsuite name="Auth">
            <directory>src/Ksfraser/Auth/tests</directory>
        </testsuite>
        <testsuite name="MicroCap Test Suite">
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="Stock Data Unit Tests">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Stock Data Integration Tests">
            <directory>./tests/Integration</directory>
        </testsuite>
        <testsuite name="All">
            <directory>src/Ksfraser/Database/tests</directory>
            <directory>src/Ksfraser/Auth/tests</directory>
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/Ksfraser/Database</directory>
            <directory suffix=".php">src/Ksfraser/Auth</directory>
            <file>YahooFinancePhp.php</file>
            <file>StockDataService.php</file>
            <file>ProgressiveHistoricalLoader.php</file>
            <directory suffix=".php">web_ui</directory>
        </include>
        <exclude>
            <directory>src/Ksfraser/Database/tests</directory>
            <directory>src/Ksfraser/Auth/tests</directory>
            <directory>tests</directory>
            <directory>vendor</directory>
            <directory>data</directory>
            <file>web_ui/config.php</file>
        </exclude>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>
</phpunit>
