
#header ul {
	list-style: none;
	padding:0;
	margin:0;
}

#header li {
	border: 1px solid;
	border-width: 1px 1px 0 1px;
	margin: 0 0.5em 0 0;
	border-bottom-width: 0;
	float: left
}

#header li a {
	padding: 0 1em;
}

#header #selected {
	position: relative;
	top: 1px;
	background: white;
}

#content {
	border 1px solid;
	clear: both;
}

h1 {
	margin: 0;
	padding: 0 0 1em 0;
}

